/* See https://www.userchrome.org/how-create-userchrome-css.html */

/* Disable transition animation of the tab-bar when entering fullscreen */
#navigator-toolbox[fullscreenShouldAnimate] {
  transition: none !important;
}

/* Prevent tab-bar from opening in fullscreen mode when cursor is moved to top of screen */
#fullscr-toggler { display:none !important; }

/* Hide HTTP status panel that sometimes appears in the bottom left */
#statuspanel {display:none !important;}
