/* Solarized theme
--base03:  #002b36;
--base02:  #073642;
--base01:  #586e75;
--base00:  #657b83;
--base0:   #839496;
--base1:   #93a1a1;
--base2:   #eee8d5;
--base3:   #fdf6e3;
--yellow:  #b58900;
--orange:  #cb4b16;
--red:     #dc322f;
--magenta: #d33682;
--violet:  #6c71c4;
--blue:    #268bd2;
--cyan:    #2aa198;
--green:   #859900;
*/

* {
	border: none;
	border-radius: 0;
	/* `otf-font-awesome` is required to be installed for icons */
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-size: 13px;
	min-height: 0;
}

window#waybar {
	background-color: transparent;
	color: #839496;
}

window#waybar.termite {
	background-color: #3F3F3F;
}

window#waybar.chromium {
	background-color: #000000;
	border: none;
}

#workspaces button {
	padding: 0 5px;
	background-color: transparent;
	color: #fff;
	font-weight: bold;
	transition: none;
	border: none;
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
	background: rgba(0, 0, 0, 0.2);
	background: transparent;
	color: #fff;
	border-top: 2px solid transparent;
	border-bottom: 2px solid #fff;
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button.focused {
	color: #000;
	background-color: #fff;
}
#workspaces button.urgent {
	color: #002b36;
	background-color: #dc322f;
}

#mode {
	background-color: #64727D;
/* 	border-bottom: 3px solid #ffffff; */
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
	padding: 0 10px;
	margin: 0 4px;
	color: #ffffff;
}

#clock {
	background-color: transparent;
}

#battery {
/* 	background-color: transparent; */
/* 	color: #fff; */
}
#battery.charging {
	color: #ffffff;
	background-color: #26A65B;
}
@keyframes blink {
	to {
		background-color: #ffffff;
		color: #000000;
	}
}
#battery.critical:not(.charging) {
	background-color: #f53c3c;
	color: #ffffff;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

label:focus {
	background-color: #000000;
}

#cpu {
	background-color: #2ecc71;
	color: #000000;
}

#memory {
	background-color: #9b59b6;
}

#backlight {
	background-color: #90b1b1;
}

#network {
	background-color: transparent;
	color: #fff;
}

#network.disconnected {
	background-color: #f53c3c;
}

#pulseaudio {
	background-color: transparent;
	color: #fff;
}

#pulseaudio.muted {
	background-color: #90b1b1;
	color: #2a5c45;
}

#custom-media {
	background-color: #66cc99;
	color: #2a5c45;
	min-width: 100px;
}

#custom-media.custom-spotify {
	background-color: #66cc99;
}

#custom-media.custom-vlc {
	background-color: #ffa000;
}

#temperature {
	background-color: #f0932b;
}

#temperature.critical {
	background-color: #eb4d4b;
}

#tray {
	background-color: #2980b9;
}

#idle_inhibitor {
	background-color: #2d3436;
}

#idle_inhibitor.activated {
	background-color: #ecf0f1;
	color: #2d3436;
}

#mpd {
	background-color: #66cc99;
	color: #2a5c45;
}

#mpd.disconnected {
	background-color: #f53c3c;
}

#mpd.stopped {
	background-color: #90b1b1;
}

#mpd.paused {
	background-color: #51a37a;
}
