[user]
	email = josh.shone@gmail.com
	name = Josh Shone
[core]
# Set Kate as editor for commit messages, rebase commands etc.
# --block option required to make git wait for Kate to close.
# Set QT_LOGGING_RULES to prevent a bunch of warnings about spellcheck.
	excludesfile = /home/josh/.config/.gitignore
	editor = QT_LOGGING_RULES="*=false" kate --block --new
[diff]
	tool = meld # Used by git difftool command
[pull]
	ff = only # Prevents warning introduced in Git 2.27
[init]
	defaultBranch = master
