[user]
	email = josh.shone@gmail.com
	name = Josh Shone
[core]
# Set Kate as editor for commit messages, rebase commands etc.
# --block option required to make git wait for Kate to close.
# Set QT_LOGGING_RULES to prevent a bunch of warnings about spellcheck.
	editor = QT_LOGGING_RULES="*=false" kate --block --new
	excludesfile = /home/josh/.config/.gitignore
[diff]
	# Fix difftastic green text on Solarized dark theme by passing --background=light
	# See https://github.com/Wilfred/difftastic/issues/611#issuecomment-2013503003
	external = difft --background=light
	tool = difftastic
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft --background=light "$LOCAL" "$REMOTE"
[pager]
	difftool = true
[pull]
	ff = only # Prevents warning introduced in Git 2.27
[init]
	defaultBranch = master
